.chat-4,
.chat-bar-4,
.alt-header-4 {
  background-color: rgb(231, 233, 255);
}
.alt-header-4 {
  opacity: 0.8;
}

.chat-4 {
  height: 130vh;
}

/*message pop*/

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}

.end-4,
.message-row {
  animation: fadeIn 1s linear;
  animation-fill-mode: forwards;
  visibility: hidden;
}
.message-row:nth-child(2) {
  animation-delay: 0s;
}
.message-row:nth-child(3) {
  animation-delay: 1.5s;
}
.message-row:nth-child(4) {
  animation-delay: 3s;
}
.message-row:nth-child(5) {
  animation-delay: 4.5s;
}
.end-4 {
  animation-delay: 7s;
}
