.chat-5,
.chat-bar-5,
.alt-header-5 {
  background-color: rgb(228, 216, 233);
}
.alt-header-5 {
  opacity: 0.8;
}

.alt-header-5 > .alt-header__column:nth-child(2) {
  width: 50%;
}

.chat-5 {
  height: 180vh;
}

strong {
  font-weight: 500;
}

/*message pop*/

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}

.end-5,
.message-row {
  animation: fadeIn 1s linear;
  animation-fill-mode: forwards;
  visibility: hidden;
}
.message-row:nth-child(2) {
  animation-delay: 0s;
}
.message-row:nth-child(3) {
  animation-delay: 1.5s;
}
.message-row:nth-child(4) {
  animation-delay: 3s;
}
.message-row:nth-child(5) {
  animation-delay: 4.5s;
}
.message-row:nth-child(6) {
  animation-delay: 6s;
}
.message-row:nth-child(7) {
  animation-delay: 7.5s;
}
.message-row:nth-child(8) {
  animation-delay: 9s;
}
.end-5 {
  animation-delay: 10.5s;
}
