.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  font-weight: 300;
}

.badge-none {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
}
